body {
    background-image: url('/assets/img/bg-1.png');
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.card {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0.5;
    border-radius: 10px;
}

.btn {
    font-weight: 400;
}

#chartSuara {
    color: #ffffff;
    font-size: 18px;
    width: 50px;
    height: 20px;
}


footer {
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
}